{{#partial "content"}}

    <h1>Contacts</h1>

    <ul>
        {{#data.contacts}}
            <li>
                <a href="profiles/{{id}}">
                    <img class="gravatar" src="{{gravatarUrl}}">
                    <div class="text-column">
                        <span>{{prettyName}}</span>
                        <span class="status">{{status}}</span>
                    </div>
                    {{#if connected}}
                        <span class="tag tag-green">connected</span>
                    {{/if}}
                    {{#if online}}
                        <span class="tag tag-blue">online</span>
                    {{/if}}
                </a>
            </li>
        {{/data.contacts}}
    </ul>
{{/partial}}

{{> plain/templates/layout}}
