{{#partial "content"}}

    <h1>My contacts</h1>

    <ul>
        {{#data.contacts}}
            <li>
                <span>
                    <img src="https://www.gravatar.com/avatar/{{emailHash}}?s=48&default=identicon">
                </span>
                <span>
                    <a href="profiles/{{id}}">{{firstname}} {{lastname}}</a>
                </span>
            </li>
        {{/data.contacts}}
    </ul>
{{/partial}}

{{> plain/templates/layout}}
