{{#partial "layout"}}

    <div class="navbar">
        <span class="navbar-item brand">Slim Chat</span>
    </div>

    <div>
        {{#block "content"}}{{/block}}
    </div>
{{/partial}}

{{> plain/templates/page}}
