<!DOCTYPE html>

<html>

    <head>
        <title>Slim Chat: Plain Old UI</title>
        <base href="{{@root.context.base}}">

        <meta charset="UTF-8">
        <link rel="icon" href="images/favicon.png">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
    </head>

    <body>

        <div class="navbar">

            <span class="navbar-item brand">Slim Chat</span>

            {{#if context.user}}

                <form class="navbar-item form-logout" action="logout" method="post">
                    <button type="submit">Logout</button>
                </form>
            {{/if}}

            <hr/>

        </div>

        <div>
            {{#block "content"}}{{/block}}
        </div>
    </body>
</html>
