{{#partial "content"}}

    <form class="security-form" action="login" method="post">

        <div class="form-heading">
            <span>Sign In</span>
        </div>

        <div class="form-control">
            <i class="fas fa-user-shield"></i>
            <input name="loginKey" type="text" placeholder="Login" required autofocus>
        </div>

        <div class="form-control">
            <i class="fas fa-unlock"></i>
            <input name="loginSecret" type="password" placeholder="Password">
        </div>

        <button type="submit">Go</button>

        <div class="form-alternate-link">
            <a href="registration">Not registered yet?</a>
        </div>
    </form>
{{/partial}}

{{> plain/templates/layout-unauthorized}}
