{{! NOTE: the docoment type - this stands for HTML v5 }}
<!DOCTYPE html>

<html>

    {{! NOTE: document's header - meta info & resource inclusions live here }}
    <head>

        {{! NOTE: set a caption to application's web page in the browser }}
        <title>Slim Chat: Plain Old UI</title>

        {{! NOTE: set the base URI for all requests from this page }}
        <base href="{{@root.context.base}}">

        {{! NOTE: set correct content encoding... this it really important }}
        <meta charset="UTF-8">

        {{! NOTE: set viewport settings to make the page responsive }}
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css">

        {{! NOTE: include common frontend stylesheets }}
        <link rel="stylesheet" href="styles/common.css">
        <link rel="stylesheet" href="styles/security.css">
        <link rel="stylesheet" href="styles/navbar.css">
        <link rel="stylesheet" href="styles/profile.css">

        {{! NOTE: include website icon }}
        <link rel="icon" href="images/favicon.png">
    </head>

    {{! NOTE: document's main part - all the content must be placed here }}
    <body>

        {{! NOTE: a placeholder for page layout }}
        {{#block "layout"}}{{/block}}
    </body>
</html>
