{{#partial "content"}}

    <form class="security-form" action="registration" method="post">

        <div class="form-heading">
            <span>Sign Up</span>
        </div>

        <div class="form-control">
            <i class="fas fa-user-shield"></i>
            <input name="id" type="text" placeholder="Account name" required autofocus>
        </div>

        <div class="form-control">
            <i class="fas fa-unlock"></i>
            <input name="password" type="password" placeholder="Password" required>
        </div>

        <div class="form-control">
            <i class="fas fa-unlock"></i>
            <input name="passwordDuplicate" type="password" placeholder="Password" required>
        </div>

        <button type="submit">Go</button>

        <div class="form-alternate-link">
            <a href="login">Already have an account?</a>
        </div>
    </form>
{{/partial}}

{{> plain/templates/layout-unauthorized}}
