<h1>My groups</h1>

<hr/>

<div style="width: 400px;">
    {{#data.groups}}

        <div>
            {{caption}}
        </div>

        <div>
            <form action="/view/chat/group/{{id}}" method="get">
                <button type="submit">Write message</button>
            </form>
        </div>
        <div>
            <form action="/view/groups/leave" method="post">
                <input name="groupId" type="hidden" value="{{id}}">
                <button type="submit">Leave the group</button>
            </form>
        </div>

        <hr/>
    {{/data.groups}}
</div>

<hr/>

<form action="/view/groups/new" method="get">
    <button type="submit">Create a new group</button>
</form>

<ul>
    <li><a href="/view/home">Back Home</a></li>
</ul>
