<h1>Home Page</h1>
{{context}}
<ul>
    <li><a href="/view/profile/me">My Profile</a></li>
    <li><a href="/view/profiles">Search profiles</a></li>
    <li><a href="/view/contacts">My contacts</a></li>
    <li><a href="/view/chats">My chats</a></li>
    <li><a href="/view/groups">My groups</a></li>
</ul>
<form action="/view/logout" method="post">
    <button type="submit">Logout</button>
</form>
