<h1>Home Page</h1>
{{context}}
<ul>
    <li><a href="/view/profile/me">My Profile</a></li>
    <li><a href="/view/chat/some-chat-id">My Chat</a></li>
</ul>
<form action="/view/logout" method="post">
    <button type="submit">Logout</button>
</form>
