<h1>Login</h1>
<form action="/view/login" method="post">
    <input type="text" name="nickname" value="{{data.nickname}}" placeholder="Your nickname, f.e. onlythenaive"/><br/>
    <input type="password" name="password" value="" placeholder="Password"/><br/>
    <button type="submit">Login</button>
</form>
<span>{{error.messageLocalized}}</span><br/>
<a href="/view/registration">No registered yet?</a>
